@model TrabalhosMoveisMVC.Models.ModelsView.ItemModelView
@{
}
<h3 class="fw-bolder"> Lista de móveis </h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Móvel</th>
            <th scope="col">Check</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>cadeira</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
