@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bolder">Bem vindo a Lista de Móveis</h1>
    <p> Entre na aba "Móveis" para poder acessar a listra</p>
</div>
