@model TrabalhosMoveisMVC.Models.ModelView.ItemModelView
@{

}
<h3 class="fw-bolder"> Móveis a comprar </h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome do Móvel</th>
            <th scope="col">Check</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Mark</td>
        </tr>
    </tbody>
</table>
